<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>阿里郎_广场舞</string>
		<key>filename</key>
		<string>阿里郎_广场舞大全-.mp3</string>
		<key>lrcname</key>
		<string></string>
		<key>singer</key>
		<string>李克勤</string>
		<key>singerIcon</key>
		<string>点我赚钱.png</string>
		<key>icon</key>
		<string>背景.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爱我你就把我来追求</string>
		<key>filename</key>
		<string>爱我你就把我来追求_广场舞大全-.mp3</string>
		<key>lrcname</key>
		<string></string>
		<key>singer</key>
		<string></string>
		<key>singerIcon</key>
		<string>点我赚钱.png</string>
		<key>icon</key>
		<string>背景.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北江美</string>
		<key>filename</key>
		<string>北江美_广场舞大全-.mp3</string>
		<key>lrcname</key>
		<string></string>
		<key>singer</key>
		<string>G.E.M.邓紫棋</string>
		<key>singerIcon</key>
		<string>点我赚钱.png</string>
		<key>icon</key>
		<string>背景.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>今夜舞起来</string>
		<key>filename</key>
		<string>今夜舞起来_广场舞大全-.mp3</string>
		<key>lrcname</key>
		<string></string>
		<key>singer</key>
		<string>Backstreet Boys</string>
		<key>singerIcon</key>
		<string>点我赚钱.png</string>
		<key>icon</key>
		<string>背景.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>山里红</string>
		<key>filename</key>
		<string>山里红_广场舞大全-.mp3</string>
		<key>lrcname</key>
		<string></string>
		<key>singer</key>
		<string>王菲</string>
		<key>singerIcon</key>
		<string>点我赚钱.png</string>
		<key>icon</key>
		<string>背景.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>伤不起</string>
		<key>filename</key>
		<string>伤不起_广场舞大全-.mp3</string>
		<key>lrcname</key>
		<string></string>
		<key>singer</key>
		<string>周杰伦</string>
		<key>singerIcon</key>
		<string>点我赚钱.png</string>
		<key>icon</key>
		<string>背景.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>跳到北京</string>
		<key>filename</key>
		<string>跳到北京_广场舞大全-.mp3</string>
		<key>lrcname</key>
		<string></string>
		<key>singer</key>
		<string></string>
		<key>singerIcon</key>
		<string>点我赚钱.png</string>
		<key>icon</key>
		<string>背景.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小苹果</string>
		<key>filename</key>
		<string>小苹果_广场舞大全-.mp3</string>
		<key>lrcname</key>
		<string></string>
		<key>singer</key>
		<string>张学友</string>
		<key>singerIcon</key>
		<string>点我赚钱.png</string>
		<key>icon</key>
		<string>背景.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>又见山里红</string>
		<key>filename</key>
		<string>又见山里红_广场舞大全-.mp3</string>
		<key>lrcname</key>
		<string></string>
		<key>singer</key>
		<string>林俊杰</string>
		<key>singerIcon</key>
		<string>点我赚钱.png</string>
		<key>icon</key>
		<string>背景.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月亮之上</string>
		<key>filename</key>
		<string>月亮之上_广场舞大全-.mp3</string>
		<key>lrcname</key>
		<string></string>
		<key>singer</key>
		<string>陈奕迅</string>
		<key>singerIcon</key>
		<string>点我赚钱.png</string>
		<key>icon</key>
		<string>背景.png</string>
	</dict>
</array>
</plist>
